@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

.input {
  @apply w-full px-4 py-3 rounded-xl bg-white/5 border border-white/10 text-white focus:ring-2 focus:ring-indigo-500 outline-none;
}

.btn-primary {
  @apply px-4 py-3 rounded-xl bg-gradient-to-r from-indigo-500 to-purple-600 font-semibold hover:scale-105 transition;
}
